name: Test and Trigger Deploy

permissions:
  contents: read

on:
  push:
    branches: ["main"]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Run Unit Tests
        run: go test ./...

      - name: Trigger Render Deployment
        if: success()
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

      # - name: Trigger Render Demo Deployment
      #   if: success()
      #   run: curl -X POST ${{ secrets.RENDER_DEMO_DEPLOY_HOOK }}
