name: Test and Trigger Deploy

on:
  push:
    branches: ["main"]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Run Unit Tests
        run: go test ./...

      - name: Trigger Render Deployment
        if: success()
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
